#Ignore ini files
*.ini
#Ignore json files
*.json
#Ignore pkl files
*.pkl
#Ignore out files
*.out

#Ignore build files
/Codes/build/
/Codes/MaM/build
/Codes/SAM/build

#Ignore Results files
/Results/**/

#Ignore tmp directory
/Analysis/tmp/**

#Ignore pycache
__pycache__/
*.py[cod]

#Ignore VS jsons
.vscode/*.json